{% extends "./shared/_Layout.html" %}

{% block conteudo %}

{% include "./shared/menu.html" %}

<!-- page-header -->
<div class="page-title-wrap typo-white">
<div class="page-title-wrap-inner section-bg-img" data-bg="images/page-title.jpg">
    <span class="theme-overlay"></span>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="page-title-inner">
                    <div id="breadcrumb" class="breadcrumb margin-bottom-10">
                        <a href="index.html" class="theme-color">Home</a>
                        <span class="current">Blog Single</span>
                    </div>
                    <h1 class="page-title mb-0">Nossa história</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- page-header -->
<!-- Page Content -->
<div class="content-wrapper pad-none">
<div class="content-inner">
    <!-- Blog Single Section -->
    <section id="blog-single" class="blog-single">
        <div class="container">
            <!-- Blog Main Wrap -->
            <div class="blog-main-wrap blog-list">
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-lg-8">
                        <!-- blog-wrap -->
                        <div class="blog-wrap mb-4 pb-3">
                            <!-- blog-info-wrap -->
                            <div class="blog-info-wrap">
                                <!-- blog img -->
                                <div class="blog-thumb mb-4 pb-2">
                                    <img src="images/blog/blog-single.jpg" width="1280" height="853" class="img-fluid b-radius-8" alt="blog-img">
                                </div>
                                <!-- Meta -->
                                <div class="post-meta top-meta margin-bottom-30">
                                    <ul class="nav">
                                        <li>
                                            <a href="#"><span class="author-img">
                                            <img alt="" src="images/icons/author-icon.jpg" class="avatar avatar-30 photo rounded-circle me-2" height="30" width="30"></span>Jack</a>
                                        </li>
                                        <li class="nav-item">
                                            <div class="post-category">
                                                <span class="ti-folder me-2 theme-color"></span>
                                                <a href="#">Jesus Love</a>, <a href="#">Sermon</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="post-date">
                                                <span class="ti-time me-2 theme-color"></span>
                                                <a href="#">Apr 19, 2019</a>
                                            </div>
                                        </li>                                                                                                                
                                    </ul>
                                </div>
                                <!-- Meta -->
                                <div class="blog-content pb-4 mb-2">
                                    <p>
                                        A Assembleia de Deus tem sua gênese com a chegada de um sargento do exército brasileiro, chamado Ormínio, oriundo desta igreja no Estado do Pará. Em 1927 ele foi o primeiro pregador pentecostal em terras sergipanas.
                                        Conforme a revista Jubileu de Ouro da Assembleia de Deus no Estado de Sergipe (1982), o militar iniciou um trabalho evangelístico e logo conseguiu agregar mais pessoas à sua fé, contudo, o fato dele não ser um obreiro, o impossibilitava realizar batismos nas águas.
                                        Em sua missão fez contato com a igreja de Maceió/AL, e de lá, enviaram o Pr. João Pedro da Silva, o qual realizou vários batismos. Tempo depois, o obreiro regressa a Alagoas e por isso o trabalho em Sergipe não alcançou, naquele momento, o êxito esperado.  
                                    </p>

                                    <p>
                                        Poucos anos mais tarde, em 1932, a convite dos fiéis locais para uma visita a cidade de Aracaju, o missionário Otto Nelson (residente da cidade Salvador) batizou seis novos membros e ainda oficializou a igreja na capital sergipana, no dia 18 de fevereiro de 1932.
                                        A partir de então deu início ao trabalho coletivamente com seis irmãos que haviam sido batizados e com mais cinco irmãos que se desligaram da igreja Batista, pois criam no batismo do Espírito Santo (doutrina primordial para fé pentecostal). 
                                        Neste mesmo dia foi celebrada a primeira Santa Ceia do Senhor – uma ordenança bíblica para os cristãos.    
                                    </p>
                                    
                                    <blockquote class="blockquote-1">
                                        <p class="mb-3">Don’t quit, and don’t give up. The reward is just around the corner. And in times of doubt or times of joy, listen for that still.</p>
                                        <p class="quote-author mb-0">Mark Johnson</p>
                                    </blockquote>

                                    <p>
                                        A igreja de Aracaju, naquelas circunstâncias, achou cabível ficar sob a jurisdição eclesiástica de Salvador e assim permaneceu até 1949, ano em que a convenção nacional decretou a autonomia da igreja em Sergipe.  
                                    </p>

                                    <p>
                                        A Assembleia de Deus em Aracaju realizou seus primeiros cultos na Avenida Maranhão, número 343, onde também foi instalada sua sede. 
                                        Em 1935, transferiu-se para a Rua Bahia, número 836, sob a direção do Pr. Jorge Monteiro da Silva.
                                    </p>
                                    <p>
                                        A partir de 1955 até 1979, foram construídos mais nove templos na capital, situados nos bairros: 
                                        Santo Antônio, América, Lamarão, Santos Dumont, Jardim Centenário, Atalaia, Ponto Novo e 18 do Forte. 
                                        Neste mesmo período, foram também construídos templos em algumas regiões do interior, a exemplo dos municípios de Maruim e Carmópolis (Pr. Euclides Arlindo Silva), 
                                        Propriá (Pr. João Jaime Mota), Brejo Grande (Pr. Antônio Fernandes Neto), Ilha das Flores (Pr. José Agripino dos Santos), Neópolis (Pr. Jorge José dos Santos), 
                                        Monte Alegre (Pr. Manoel Avelino de Lima), Nova Vida, Nossa Senhora das Dores (Pr. Antônio José dos Santos), Santa Rosa de Lima (Pr. José Calixto Franco), 
                                        Malhador (Pr. Antônio Rodrigues Lima), Ribeirópolis (Pr. Manoel Oliveira dos Santos), Itabaiana (Pr. Álvaro Marques Correa), 
                                        Carira, Campo do Brito, Mariquita e Lagarto (Pr. Aniator Nery dos Santos).  
                                    </p>
                                    
                                    
                                    
                                </div>
                                <!-- Row -->
                                <div class="row margin-bottom-40">
                                        <!-- Col -->
                                    <div class="col-md-6">
                                        <div class="sermons-thumb relative">
                                            <img src="images/sermons/sermon-single2.jpg" class="img-fluid b-radius-6" width="768" height="456" alt="sermons-img" />
                                        </div>
                                    </div>
                                        <!-- Col -->
                                    <!-- Col -->
                                    <div class="col-md-6">
                                        <div class="sermons-thumb relative">
                                            <img src="images/sermons/sermon-single3.jpg" class="img-fluid b-radius-6" width="768" height="456" alt="sermons-img" />
                                        </div>
                                    </div>                                             
                                </div>
                                <!-- Row -->
                                <!-- Meta -->
                                <div class="post-meta bottom-meta">
                                    <div class="meta-left pull-left">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <div class="post-tags">
                                                    <a href="#">#donate</a><a href="#">#jesus</a><a href="#">#prayer</a><a href="#">#sermon</a>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <div class="post-comment"><a href="#" rel="bookmark" class="comments-count">Comments (0)</a>
                                                </div>
                                            </li>					
                                        </ul>
                                    </div>
                                    <div class="social-icons social-2 icons-circle widget-content pull-right small">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-pinterest"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                                <!-- Meta -->
                            </div>
                            <!-- blog-info-wrap -->
                        </div>
                        <!-- blog-wrap -->
                        <!-- row -->
                        <div class="row pad-top-20 pad-bottom-40">
                            <div class="col-md-12">
                                <div class="post-navigation-wrapper">
                                    <div class="prev-nav-link">
                                        <span class="post-nav-text">Prev</span>
                                        <a class="prev" href="#"><h4 class="mb-0">Prev Blog</h4></a>
                                    </div>
                                    <div class="next-nav-link">
                                        <span class="post-nav-text">Next</span>
                                        <a class="next" href="#"><h4 class="mb-0">Next Blog</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Contact Form -->
                                <div class="comments-form">
                                    <h4 class="comment-reply-title">Leave a Reply</h4>
                                    <p class="mb-4">Your email address will not be published. Required fields are marked*</p>
                                    <!-- Form -->
                                    <div class="contact-form-wrap">
                                        <!-- form inputs -->
                                        <form id="contact-form-1" class="contact-form" action="inc/function.php" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <!-- form group -->
                                                    <div class="form-group">
                                                        <input id="name" class="form-control" name="name" placeholder="Name*" data-bv-field="name" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <!-- form group -->
                                                    <div class="form-group">
                                                        <input id="email" class="form-control" name="email" placeholder="Email*" data-bv-field="email" type="email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <input type="checkbox" id="save1" name="save1" value="Bike">
                                                    <label for="save1"> Save my name, email, and website in this browser for the next time I comment.</label>
                                                </div>	
                                                <div class="col-md-12 mb-3">
                                                    <div class="contact-message">
                                                        <!-- form group -->
                                                        <div class="form-group">
                                                            <textarea id="message" class="form-control textarea" rows="8" name="message" placeholder="Message" data-bv-field="message"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- form button -->
                                                    <button type="submit" id="contact-submit" class="btn btn-default mt-3 theme-btn">Send</button>
                                                </div>
                                            </div>
                                            <span class="clearfix"></span>
                                        </form>
                                        <!-- form inputs end -->
                                        <p id="contact-status-msg" class="hide"></p>
                                    </div>
                                    <!-- Form End-->
                                </div>
                                <!-- contact-form-1 -->
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Row -->
                    </div>
                    <!-- Col -->
                    <!-- Sidebar -->
                    <!-- Col -->
                    <div class="col-lg-4 ps-5 px-sm-15">
                        <!-- Sidebar -->
                        <div class="sidebar right-sidebar">
                            <!-- Search -->
                            <div class="widget search-widget">
                                <div class="search-form-wrapper">
                                    <form class="search-form" role="search">
                                        <div class="input-group add-on">
                                            <input class="form-control" placeholder="Search for.." name="srch-term" type="text">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default search-btn" type="submit"><i class="ti-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Search -->
                            <!-- Categories -->
                            <div class="widget category-widget">
                                <div class="widget-title">
                                    <!-- Title -->
                                    <h3 class="title">Categories</h3>
                                </div>
                                <ul class="category-list">
                                    <li class="cat-item">
                                        <a href="#">Chartiy</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Faithful</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Jesus Love</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Prayer</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Sermon</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Categories -->
                            <!-- Popular Post -->
                            <div class="widget recent-posts">
                                <div class="widget-title">
                                    <!-- Title -->
                                    <h3 class="title">Popular Posts</h3>
                                </div>
                                    <ul class="list-post-content">
                                    <li>
                                        <!--Media-->
                                        <div class="media list-post">
                                            <div class="side-noimg themebg-color">
                                                <span class="fa fa-quote-left"></span>																
                                            </div>                                                            
                                            <div class="media-body">
                                                    <a href="sermon-single.html">Testimony Love Offering So Blessed</a>
                                                <div class="meta-items mt-2">
                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Media End -->
                                    </li>
                                    <li>
                                        <!--Media-->
                                        <div class="media list-post">
                                            <div class="side-noimg themebg-color">
                                                <span class="fa fa-anchor"></span>																
                                            </div>
                                            <div class="media-body">
                                                <a href="sermon-single.html">Belongs to those who fail in their duty</a>
                                                <div class="meta-items mt-2">
                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Media End -->
                                    </li>
                                    <li>
                                        <!--Media-->
                                        <div class="media list-post">
                                            <span class="popular-thumb me-3">
                                                <img width="70" height="70" class="rounded" src="images/blog/thumb/blog_thumb3-80x80.jpg" alt="">
                                            </span>
                                            <div class="media-body">
                                                <a href="sermon-single.html">An Important Conversation Around</a>
                                                <div class="meta-items mt-2">
                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Media End -->
                                    </li>
                                    <li>
                                        <!--Media-->
                                        <div class="media list-post">
                                            <span class="popular-thumb me-3">
                                                <img width="70" height="70" class="rounded" src="images/blog/thumb/blog_thumb1-80x80.jpg" alt="">
                                            </span>
                                            <div class="media-body">
                                                <a href="sermon-single.html">Let’s Talk With Brian Houston</a>
                                                <div class="meta-items mt-2">
                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Media End -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Popular Post -->                                            
                            <!-- Tag Cloud -->
                            <div class="widget tag-cloud mb-0">
                                <div class="widget-title">
                                    <!-- Title -->
                                    <h3 class="title">Tag List</h3>
                                </div>
                                <div class="tagcloud">
                                    <a href="#" class="tag-cloud-link">biblestory</a>
                                    <a href="#" class="tag-cloud-link">church</a>
                                    <a href="#" class="tag-cloud-link">donate</a>
                                    <a href="#" class="tag-cloud-link">hope</a>
                                    <a href="#" class="tag-cloud-link">jesus</a>
                                    <a href="#" class="tag-cloud-link">prayer</a>
                                    <a href="#" class="tag-cloud-link">sermon</a>
                                </div>
                            </div>
                            <!-- Tag Cloud -->
                        </div>
                        <!-- Sidebar -->
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Blog Main Wrap -->
        </div>
        <!-- Container -->
    </section>
    <!-- Blogs Section End -->
</div>
</div>



{% endblock %}