	   
 {% extends "./shared/_Layout.html" %}

 {% block conteudo %}

 {% include "./shared/menu.html" %}

<!-- START Zegen Home 9 REVOLUTION SLIDER 6.6.5 --><p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_11_1_wrapper" data-alias="zegen-home-9" data-source="gallery" style="visibility:hidden;background:#000000;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_11_1"  data-version="6.6.5">
        <rs-slides style="overflow: hidden; position: absolute;">
            <rs-slide style="position: absolute;" data-key="rs-46" data-title="Web Show" data-anim="adpr:false;e:slidingoverlay;ms:2000;" data-in="o:0;x:(100%);" data-out="a:false;">
                <img src="rs-plugin/assets/dummy.png" alt="" title="zmain-slider-81" width="1360" height="572" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="rs-plugin/assets/zmain-slider-81.jpg" data-parallax="5" data-no-retina>
                <rs-bgvideo 								
                    data-videomp4="rs-plugin/assets/video-banner.mp4"
                    data-vatr="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;ref=0&amp;origin=http://elementor.zozothemes.com;"
                    data-videoloop="loop"
                    data-forcerewind="on"
                ></rs-bgvideo>
<!--
                --><h1
                    id="slider-11-slide-46-layer-2" 
                    class="rs-layer Concept-Title"
                    data-type="text"
                    data-color="#ffffff||rgba(255, 255, 255, 1)||rgba(255, 255, 255, 1)||rgba(255, 255, 255, 1)"
                    data-rsp_ch="on"
                    data-xy="x:l,c,c,c;xo:49px,0,0,0;y:m;yo:-56px,-63px,-40px,-60px;"
                    data-text="w:normal;s:65,50,45,30;l:74,55,50,40;ls:3px,1px,1px,1px;fw:700;a:left,center,center,center;"
                    data-dim="w:754px,713px,571.993px,400px;"
                    data-padding="b:10;"
                    data-frame_0="sX:2;sY:2;"
                    data-frame_0_mask="u:t;"
                    data-frame_1="e:power2.out;st:2110;sp:1270;sR:2110;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="x:left;e:power3.in;st:w;sp:1000;sR:5620;"
                    data-frame_999_reverse="x:true;"
                    style="z-index:12;font-family:'Poppins';"
                >Grace, Love and <span class="theme-color">Forgiveness</span> for all.

                </h1><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-3" 
                    class="Concept-SubTitle"
                    data-type="text"
                    data-color="#bf0a30||#e9204f||#e9204f||#e9204f"
                    data-rsp_ch="on"
                    data-xy="x:l,c,c,c;xo:302px,137px,117px,99px;y:m;yo:-161px,-144px,-116px,-127px;"
                    data-text="w:normal,nowrap,nowrap,nowrap;s:21,20,20,15;l:20,25,20,20;fw:700;"
                    data-frame_0="o:1;"
                    data-frame_0_chars="d:5;y:100%;o:0;rZ:-35deg;"
                    data-frame_0_mask="u:t;"
                    data-frame_1="st:640;sp:1200;sR:640;"
                    data-frame_1_chars="e:power4.inOut;d:10;rZ:0deg;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="x:left;e:power3.in;st:w;sp:1000;sR:4960;"
                    data-frame_999_reverse="x:true;"
                    style="z-index:15;font-family:'Open Sans';text-transform:uppercase;"
                >Love 
                </rs-layer><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-4" 
                    class="Concept-SubTitle"
                    data-type="text"
                    data-color="#bf0a30||#e9204f||#e9204f||#e9204f"
                    data-rsp_ch="on"
                    data-xy="x:l,c,c,c;xo:49px,-100px,-107px,-89px;y:m;yo:-161px,-144px,-116px,-127px;"
                    data-text="w:normal,nowrap,nowrap,nowrap;s:21,20,20,15;l:20,25,20,20;fw:700;"
                    data-padding="r:20;"
                    data-border="bos:solid;boc:#bf0a30;bow:0,2px,0,0;"
                    data-frame_0="o:1;"
                    data-frame_0_chars="d:5;y:100%;o:0;rZ:-35deg;"
                    data-frame_0_mask="u:t;"
                    data-frame_1="st:640;sp:1200;sR:640;"
                    data-frame_1_chars="e:power4.inOut;d:10;rZ:0deg;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="x:left;e:power3.in;st:w;sp:1000;sR:4960;"
                    data-frame_999_reverse="x:true;"
                    style="z-index:13;font-family:'Open Sans';text-transform:uppercase;"
                >praise  
                </rs-layer><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-5" 
                    data-type="image"
                    data-rsp_ch="on"
                    data-xy="xo:962px,839px,649px,372px;yo:269px,347px,359px,346px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                    data-dim="w:368px,159px,120px,74px;h:368px,159px,120px,74px;"
                    data-frame_0="x:right;"
                    data-frame_1="sp:1000;"
                    data-frame_999="o:0;st:w;"
                    style="z-index:19;"
                ><img src="rs-plugin/assets/dummy.png" alt="" class="tp-rs-img rs-lazyload" width="343" height="343" data-lazyload="rs-plugin/assets/slide-shape-6.png" data-no-retina> 
                </rs-layer><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-6" 
                    data-type="image"
                    data-rsp_ch="on"
                    data-xy="xo:-178px,-146px,-110px,-67px;yo:-173px,-142px,-107px,-66px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                    data-dim="w:368px,303px,230px,141px;h:368px,303px,230px,141px;"
                    data-frame_0="x:left;"
                    data-frame_1="sp:1000;"
                    data-frame_999="o:0;st:w;"
                    style="z-index:16;"
                ><img src="rs-plugin/assets/dummy.png" alt="" class="tp-rs-img rs-lazyload" width="343" height="343" data-lazyload="rs-plugin/assets/slide-shape-6.png" data-no-retina> 
                </rs-layer><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-9" 
                    class="Concept-SubTitle"
                    data-type="text"
                    data-color="#bf0a30||#e9204f||#e9204f||#e9204f"
                    data-rsp_ch="on"
                    data-xy="x:l,c,c,c;xo:159px,26px,14px,11px;y:m;yo:-161px,-144px,-116px,-127px;"
                    data-text="w:normal,nowrap,nowrap,nowrap;s:21,20,20,15;l:20,25,20,20;fw:700;"
                    data-padding="r:20;"
                    data-border="bos:solid;boc:#bf0a30;bow:0,2px,0,0;"
                    data-frame_0="o:1;"
                    data-frame_0_chars="d:5;y:100%;o:0;rZ:-35deg;"
                    data-frame_0_mask="u:t;"
                    data-frame_1="st:640;sp:1200;sR:640;"
                    data-frame_1_chars="e:power4.inOut;d:10;rZ:0deg;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="x:left;e:power3.in;st:w;sp:1000;sR:4960;"
                    data-frame_999_reverse="x:true;"
                    style="z-index:14;font-family:'Open Sans';text-transform:uppercase;"
                >connect 
                </rs-layer><!--

                --><rs-layer
                    id="slider-11-slide-46-layer-14" 
                    data-type="text"
                    data-rsp_ch="on"
                    data-xy="x:l,c,c,c;xo:49px,0,0,7px;y:m,t,t,t;yo:75px,282px,278px,226px;"
                    data-text="w:normal;s:18,18,16,15;l:31,30,30,27;a:left,center,center,center;"
                    data-dim="w:636px,659px,561.993px,388px;h:auto,auto,auto,89px;"
                    data-frame_0="y:100%;"
                    data-frame_0_mask="u:t;"
                    data-frame_1="st:2680;sp:1360;sR:2680;"
                    data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:4960;"
                    style="z-index:11;font-family:'Open Sans';"
                >Zegen Church is made for the people by the people to pray to the Lord Jesus. We practice a lifestyle of worship exalting Jesus in our chrch. 
                </rs-layer><!--

                --><a
                    id="slider-11-slide-46-layer-16" 
                    class="rs-layer res-slide-btn pop rev-btn"
                    href="about-us.html" target="_self"
                    data-type="button"
                    data-color="rgba(255,255,255,1)"
                    data-xy="x:l,c,c,c;xo:49px,0,0,0;y:m;yo:160px,126px,134px,117px;"
                    data-text="s:16,16,14,14;l:17;fw:500;a:center;"
                    data-rsp_bd="off"
                    data-padding="t:15,15,10,10;r:35,35,25,25;b:15,15,10,10;l:35,35,25,25;"
                    data-border="bor:3px,3px,3px,3px;"
                    data-frame_0="rX:-70deg;oZ:-50;"
                    data-frame_1="oZ:-50;e:power4.inOut;st:3160;sp:1750;"
                    data-frame_999="o:0;st:w;sR:4640;"
                    data-frame_hover="bgc:#000;boc:#000;bor:3px,3px,3px,3px;bos:solid;oX:50;oY:50;sp:0;"
                    style="z-index:10;background-color:#bf0a30;font-family:'Poppins';cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"
                >Saiba Mais
                </a><!--
-->						</rs-slide>
        </rs-slides>
        <rs-static-layers><!--
        --></rs-static-layers>
    </rs-module>
    <script>
        
    </script>
<script>
if(typeof revslider_showDoubleJqueryError === "undefined") {function revslider_showDoubleJqueryError(sliderID) {console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion.");console.log("To fix this, you can:");console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on");console.log("2. Find the double jQuery.js inclusion and remove it");return "Double Included jQuery Library";}}
</script>
    <script src="https://www.youtube.com/iframe_api"></script>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->




<!-- Page Content -->
<div class="content-wrapper pad-none">
    <div class="content-inner">
        <!-- Events Section -->
        <partial name="Shared/Presentation/VideoPoupPartial9" />

        <!-- Counter Section -->
        <section id="counter-section" class="counter-section pad-tb-70 section-bg-img" data-bg="images/bg/ft-bg2.jpg">
            <span class="theme-overlay3"></span>
            <div class="container">
                <!-- Counter Wrap -->
                <div class="row relative">
                    <div class="col-md-12">
                        <div class="row text-center">
                            <!-- Counter -->
                            <div class="col-lg-4">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-value">
                                        <h2 class="typo-white"><span class="counter-up" data-count="435">0</span><span class="counter-suffix">+</span></h2>
                                    </div>
                                    <div class="counter-details text-center">
                                        <div class="counter-title">
                                            <p class="mb-0 typo-white">Around the World</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->
                            <!-- Counter -->
                            <div class="col-lg-4">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-value">
                                        <h2 class="typo-white"><span class="counter-up" data-count="100">0</span><span class="counter-suffix">+</span></h2>
                                    </div>
                                    <div class="counter-details text-center">
                                        <div class="counter-title">
                                            <p class="mb-0 typo-white">Projects Supported</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->
                            <!-- Counter -->
                            <div class="col-lg-4">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-value">
                                        <h2 class="typo-white"><span class="counter-up" data-count="199">0</span><span class="counter-suffix">+</span></h2>
                                    </div>
                                    <div class="counter-details text-center">
                                        <div class="counter-title">
                                            <p class="mb-0 typo-white">Mass Stripends</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container -->
        </section>
        <!-- Counter Section End -->
        <!-- Events Section -->
        <section id="events-section" class="events-section pad-bottom-70">
            <!-- Screan Reader Text -->
            <h2 class="screen-reader-text">Events 3</h2>
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-md-12">
                        <!--events Main wrap-->
                        <div class="events-main-wrapper events-grid events-style-4">
                            <div class="row">
                                <div class="offset-md-2 col-md-8">
                                    <div class="title-wrap text-center">
                                        <div class="section-title">
                                            <span class="sub-title theme-color text-uppercase">Eventos</span>
                                            <h2 class="section-title margin-top-5">Próximos eventos</h2>
                                            <span class="border-bottom center"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Col-md -->
                                <div class="col-lg-4 col-md-6">
                                    <!--events Inner-->
                                    <div class="events-inner margin-bottom-30">
                                        <!--events Thumb-->
                                        <div class="events-thumb mb-0 relative">
                                            <img src="images/events/grid3/event-1.jpg" class="img-fluid thumb w-100" width="768" height="456" alt="events-img" />
                                        </div>
                                        <!--events details-->
                                        <div class="events-details pad-30">
                                            <div class="event-date margin-bottom-15">
                                                18 | Dez <span class="event-time">8:00 am</span>
                                            </div>
                                            <div class="event-title mb-3">
                                                <h5><a href="ver-evento">Our Sponsorship Meetup Will Be Held Again</a></h5>
                                            </div>
                                            <div class="event-excerpt mb-3">
                                                <p>Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.</p>
                                            </div>
                                            <div class="read-more">
                                                <a href="ver-evento">Ver Evento</a>
                                            </div>
                                        </div>
                                        <!--events details-->
                                    </div>
                                    <!--events Inner Ends-->
                                </div>
                                <!--Col-md Ends-->
                                <!-- Col-md -->
                                <div class="col-lg-4 col-md-6">
                                    <!--events Inner-->
                                    <div class="events-inner margin-bottom-30">
                                        <!--events Thumb-->
                                        <div class="events-thumb mb-0 relative">
                                            <img src="images/events/grid3/event-2.jpg" class="img-fluid thumb w-100" width="768" height="456" alt="events-img" />
                                        </div>
                                        <!--events details-->
                                        <div class="events-details pad-30">
                                            <div class="event-date margin-bottom-15">
                                                3 Mar <span class="event-time">7:00 am</span>
                                            </div>
                                            <div class="event-title mb-3">
                                                <h5><a href="event-details.html">Event: Reflect The Community And Serving</a></h5>
                                            </div>
                                            <div class="event-excerpt mb-3">
                                                <p>Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.</p>
                                            </div>
                                            <div class="read-more">
                                                <a href="event-details.html">Ver Evento</a>
                                            </div>
                                        </div>
                                        <!--events details-->
                                    </div>
                                    <!--events Inner Ends-->
                                </div>
                                <!--Col-md Ends-->
                                <!-- Col-md -->
                                <div class="col-lg-4 col-md-6">
                                    <!--events Inner-->
                                    <div class="events-inner margin-bottom-30">
                                        <!--events Thumb-->
                                        <div class="events-thumb mb-0 relative">
                                            <img src="images/events/grid3/event-3.jpg" class="img-fluid thumb w-100" width="768" height="456" alt="events-img" />
                                        </div>
                                        <!--events details-->
                                        <div class="events-details pad-30">
                                            <div class="event-date margin-bottom-15">
                                                10 Abr 
                                                
                                                <span class="event-time">6:00 am</span>
                                            </div>
                                            <div class="event-title mb-3">
                                                <h5><a href="event-details.html">New Families During National Adoption Month</a></h5>
                                            </div>
                                            <div class="event-excerpt mb-3">
                                                <p>Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.</p>
                                            </div>
                                            <div class="read-more">
                                                <a href="event-details.html">Ver Evento</a>
                                            </div>
                                        </div>
                                        <!--events details-->
                                    </div>
                                    <!--events Inner Ends-->
                                </div>
                                <!--Col-md Ends-->

                            </div>
                            <!-- events Row -->
                        </div>
                        <!-- events Main wrap Ends -->
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
        </section>
        <!-- events Section Ends -->
        <!-- Get a Quote Section -->
        <section id="get-quote-section" class="get-quote-section section-bg-img" data-bg="images/bg/banner-projeto-joas.jpeg">
            <div class="container">
                <!-- Row -->
                <div class="row text-center">
                    <!-- Col -->
                    <div class="col-md-12">
                        <div class="get-quote-1">
                            <!-- video wrap -->
                            <div class="video-wrap wrap-stretch relative margin-bottom-50">
                                <!-- video details -->
                                <div class="video-wrap-details">
                                    <!-- video button -->
                                    <div class="video-play-btn text-center">
                                        <div class="video-icon">
                                            <a class="popup-youtube box-shadow1" href="https://www.youtube.com/watch?v=e1l1-LWTcBs">
                                                <i class="ti-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- video details End-->
                            </div>
                            <!-- video wrap end -->
                            <div class="title-wrap mb-0">
                                <div class="section-title typo-white margin-bottom-40">
                                    
                                    <h2 class="title mb-3">“Pray! And listen to God! You can do this alone, but find somebody to do it with you”</h2>
                                    <span class="dancing-text">Real Story Cross Journey from Anna Hampton</span>
                                </div>
                                <div class="get-quote-btn">
                                    <a class="btn btn-default" href="donate-now.html" title="Donate Online">Donate Online</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>
        <!-- Get a Quote Section End -->
        <!-- Ministries Section -->
        <section id="ministries-section" class="ministries-section pad-top-95 pad-bottom-70">
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <div class="title-wrap text-center">
                            <div class="section-title">
                                <span class="sub-title theme-color text-uppercase">Ministries</span>
                                <h2 class="section-title margin-top-5">Our Ministries</h2>
                                <span class="border-bottom center"></span>
                            </div>
                        </div>
                    </div>
                    <!--Ministries Main Slider-->
                    <div class="owl-carousel ministries-main-wrapper" data-loop="1" data-nav="1" data-dots="0" data-autoplay="0" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="3" data-items-tab="2" data-items-mob="1">
                        <!--Item-->
                        <div class="item">
                            <div class="ministries-box-style-2">
                                <!-- Ministries Inner -->
                                <div class="ministries-inner">
                                    <div class="ministries-thumb">
                                        <img class="img-fluid squared w-100" src="images/ministries/childrens_ministry.jpg" width="360" height="240" alt="Agricultural Processing">
                                    </div>
                                    <!-- Ministries Content -->
                                    <div class="ministries-content pad-30">
                                        <div class="ministries-title margin-bottom-15">
                                            <h4><a href="childrens-ministry.html" class="ministries-link">Children's Ministry</a></h4>
                                        </div>
                                        <div class="ministries-desc">
                                            <p>Children’s ministry is the most important ministry in our church. This ministry helps kids learn about the Lord</p>
                                        </div>
                                        <div class="ministries-link margin-top-20">
                                            <a target="_blank" href="childrens-ministry.html" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ministries Inner Ends -->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="ministries-box-style-2">
                                <!-- Ministries Inner -->
                                <div class="ministries-inner">
                                    <div class="ministries-thumb">
                                        <img class="img-fluid squared w-100" src="images/ministries/women_ministry.jpg" width="360" height="240" alt="Agricultural Processing">
                                    </div>
                                    <!-- Ministries Content -->
                                    <div class="ministries-content pad-30">
                                        <div class="ministries-title margin-bottom-15">
                                            <h4><a href="womens-ministry.html" class="ministries-link">Womens Ministry</a></h4>
                                        </div>
                                        <div class="ministries-desc">
                                            <p>A Women’s ministry includes hosting Bible studies, services, support group, and gathering events. The goal of this women’s</p>
                                        </div>
                                        <div class="ministries-link margin-top-20">
                                            <a target="_blank" href="womens-ministry.html" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ministries Inner Ends -->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="ministries-box-style-2">
                                <!-- Ministries Inner -->
                                <div class="ministries-inner">
                                    <div class="ministries-thumb">
                                        <img class="img-fluid squared w-100" src="images/ministries/global_ministry.jpg" width="360" height="240" alt="Agricultural Processing">
                                    </div>
                                    <!-- Ministries Content -->
                                    <div class="ministries-content pad-30">
                                        <div class="ministries-title margin-bottom-15">
                                            <h4><a href="global-ministry.html" class="ministries-link">Global Ministry</a></h4>
                                        </div>
                                        <div class="ministries-desc">
                                            <p>We are very grateful for our part in the work of Global Ministries and the opportunity to be</p>
                                        </div>
                                        <div class="ministries-link margin-top-20">
                                            <a target="_blank" href="global-ministry.html" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ministries Inner Ends -->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="ministries-box-style-2">
                                <!-- Ministries Inner -->
                                <div class="ministries-inner">
                                    <div class="ministries-thumb">
                                        <img class="img-fluid squared w-100" src="images/ministries/music_ministry.jpg" width="360" height="240" alt="Agricultural Processing">
                                    </div>
                                    <!-- Ministries Content -->
                                    <div class="ministries-content pad-30">
                                        <div class="ministries-title margin-bottom-15">
                                            <h4><a href="music-ministry.html" class="ministries-link">Music Ministry</a></h4>
                                        </div>
                                        <div class="ministries-desc">
                                            <p>Music is something we get exposed to from childhood through adulthood. From the pattering sounds from raindrops</p>
                                        </div>
                                        <div class="ministries-link margin-top-20">
                                            <a target="_blank" href="music-ministry.html" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ministries Inner Ends -->
                            </div>
                        </div>
                        <!--Item Ends-->
                    </div>
                    <!--Ministries Owl Slider-->
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>
        <!-- Ministries Section End -->
        <!-- Contact Section -->
        <section class="contact-form-section typo-white section-bg-img o-visible pad-top-80 pad-bottom-160" data-bg="images/bg/bg-2.jpg">
            <div class="shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
                    <path class="shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
                    <path class="shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
                </svg>
            </div>
            <div class="container">
                <div class="row">
                    <!-- col -->
                    <div class="col-xl-4 pe-xl-4 pb-5 pb-xl-0">
                        <div class="flip-box broken-top-115 verticalMove">
                            <div class="flip-box-inner imghvr-flip-3d-horz">
                                <div class="flip-box-front">
                                    <div class="flip-box-icon margin-bottom-40"><span class="text-center flip-icon-middle ti-headphone-alt"></span></div>
                                    <h3 class="flip-box-title margin-bottom-30">Contato</h3>
                                    <div class="flip-content">
                                        <p>Rua Bahia, 836 - Siqueira Campos</p>
                                        <p>Aracaju/SE. CEP: 49075-000</p>
                                        <p><a href="tel:+8(123)985789">+8 (123) 985 789</a></p>
                                        <p><a href="mailto:zegenchurch@mail.com">zegenchurch@mail.com</a></p>
                                    </div>
                                </div>
                                <div class="flip-box-back">
                                    <h3 class="flip-box-title">Contato</h3>
                                    <div class="flip-content">
                                        <p>Rua Bahia, 836 - Siqueira Campos</p>
                                        <p>Aracaju/SE. CEP: 49075-000</p>
                                        <p><a href="tel:+8(123)985789">+8 (123) 985 789</a></p>
                                        <p><a href="mailto:zegenchurch@mail.com">zegenchurch@mail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-xl-8 ps-xl-4">
                        <div class="section-title-wrapper">
                            <div class="title-wrap mb-0">
                                <div class="section-title">
                                    <span class="sub-title theme-color text-uppercase">Get In Touch</span>
                                    <h2 class="section-title margin-top-5">Don't hesitate Contact Us</h2>
                                    <span class="border-bottom"></span>
                                </div>
                                <div class="pad-top-15">
                                    <p class="margin-bottom-10">Feel free to Contact Us. Zegen Church WP Theme comes with sermons, ministries, events, testimonies, staff members, church locations shortcodes to enhance your website.</p>
                                </div>
                            </div>
                            <div class="button-section margin-top-25">
                                <a class="btn btn-default" href="contact-us.html" title="Learn More">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
            </div>
        </section>
        <!-- Contact Form Section End -->
        <!-- Blog Section -->
        <section class="blog-section bg-grey">
            <div class="container">
                <!-- Blog Wrap -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="title-wrap mb-5">
                            <div class="section-title">
                                <span class="sub-title theme-color text-uppercase">Fique Informado</span>
                                <h2 class="section-title margin-top-5">Últimas Notícias</h2>
                                <span class="border-bottom"></span>
                            </div>
                        </div>
                        <div class="pad-top-15">
                            <p class="margin-bottom-20">Your small donation will help us to provide education to underprivileged children. Zegen Religious WordPress Theme comes with the popular Charitable plugin.</p>
                        </div>
                        <div class="button-section margin-top-35">
                            <a class="btn btn-default" href="donate-now.html" title="Learn More">Donate Online</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <!--Blog Main Slider-->
                            <div class="owl-carousel blog-main-wrapper blog-style-2" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="2" data-items-tab="1" data-items-mob="1">
                                <!--Item-->
                                <div class="item">
                                    <!--Blog Inner-->
                                    <div class="blog-inner">
                                        <div class="blog-thumb relative">
                                            <img src="images/blog/blog-grid/blog-grid1.jpg" class="img-fluid" width="768" height="600" alt="blog-img" />
                                        </div>
                                        <div class="blog-details">
                                            <div class="top-meta">
                                                <ul class="top-meta-list">
                                                    <li><div class="post-date"><a href="#"><i class="ti-calendar"></i> Oct 21, 2019</a></div></li>
                                                </ul>
                                            </div>
                                            <div class="blog-title">
                                                <h4 class="margin-bottom-10"><a href="blog-single.html" class="blog-name">O homem que Deus não perdeu de vista</a></h4>
                                            </div>
                                            <div class="post-desc mt-2">
                                                <div class="blog-link">
                                                    <a target="_blank" href="#" class="link font-w-500">Saiba Mais</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Blog Inner Ends-->
                                </div>
                                <!--Item Ends-->
                                <!--Item-->
                                <div class="item">
                                    <!--Blog Inner-->
                                    <div class="blog-inner">
                                        <div class="blog-thumb relative">
                                            <img src="images/blog/blog-grid/blog-grid2.jpg" class="img-fluid" width="768" height="600" alt="blog-img" />
                                        </div>
                                        <div class="blog-details">
                                            <div class="top-meta">
                                                <ul class="top-meta-list">
                                                    <li><div class="post-date"><a href="#"><i class="ti-calendar"></i> Oct 21, 2019</a></div></li>
                                                </ul>
                                            </div>
                                            <div class="blog-title">
                                                <h4 class="margin-bottom-10"><a href="blog-single.html" class="blog-name">Ceia do Senhor com toda a Capital</a></h4>
                                            </div>
                                            <div class="post-desc mt-2">
                                                <div class="blog-link">
                                                    <a target="_blank" href="#" class="link font-w-500">Saiba Mais</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Blog Inner Ends-->
                                </div>
                                <!--Item Ends-->
                                <!--Item-->
                                <div class="item">
                                    <!--Blog Inner-->
                                    <div class="blog-inner">
                                        <div class="blog-thumb relative">
                                            <img src="images/blog/blog-grid/blog-grid3.jpg" class="img-fluid" width="768" height="600" alt="blog-img" />
                                        </div>
                                        <div class="blog-details">
                                            <div class="top-meta">
                                                <ul class="top-meta-list">
                                                    <li><div class="post-date"><a href="#"><i class="ti-calendar"></i> Oct 20, 2019</a></div></li>
                                                </ul>
                                            </div>
                                            <div class="blog-title">
                                                <h4 class="margin-bottom-10"><a href="blog-single.html" class="blog-name">Pré-Congresso do IEAD Jovem Missão Capital</a></h4>
                                            </div>
                                            <div class="post-desc mt-2">
                                                <div class="blog-link">
                                                    <a target="_blank" href="#" class="link font-w-500">Saiba Mais</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Blog Inner Ends-->
                                </div>
                                <!--Item Ends-->
                                <!--Item-->
                                <div class="item">
                                    <!--Blog Inner-->
                                    <div class="blog-inner">
                                        <div class="blog-thumb relative">
                                            <img src="images/blog/blog-grid/blog-grid4.jpg" class="img-fluid" width="768" height="600" alt="blog-img" />
                                        </div>
                                        <div class="blog-details">
                                            <div class="top-meta">
                                                <ul class="top-meta-list">
                                                    <li><div class="post-date"><a href="#"><i class="ti-calendar"></i> Oct 19, 2019</a></div></li>
                                                </ul>
                                            </div>
                                            <div class="blog-title">
                                                <h4 class="margin-bottom-10"><a href="blog-single.html" class="blog-name">Culto em Ação de Graças</a></h4>
                                            </div>
                                            <div class="post-desc mt-2">
                                                <div class="blog-link">
                                                    <a target="_blank" href="#" class="link font-w-500">Saiba Mais</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Blog Inner Ends-->
                                </div>
                                <!--Item Ends-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Wrap -->
            </div>
        </section>
        <!-- Blog Section End -->
    </div>
</div>


{% endblock %}
