<header class="header-full">
    <!--Mobile Header-->
    <div class="mobile-header bg-white typo-dark">
        <div class="mobile-header-inner">
            <div class="sticky-outer">
                <div class="sticky-head">
                    <div class="basic-container clearfix">
                        <ul class="nav mobile-header-items pull-left">
                            <li class="nav-item"><a href="#" class="zmm-toggle img-before"><i class="ti-menu"></i></a></li>
                        </ul>
                        <ul class="nav mobile-header-items pull-center">
                            <li>
                                <a href="index.html" class="img-before"><img src="images/logo-dark.png" class="img-fluid" width="149" height="45" alt="Logo"></a>
                            </li>
                        </ul>
                        <ul class="nav mobile-header-items pull-right">
                            <li class="nav-item"><a href="#" class="img-before overlay-search-switch"><i class="icon-magnifier icons"></i></a></li>
                        </ul>
                    </div>
                    <!-- .basic-container -->
                </div>
                <!-- .sticky-head -->
            </div>
            <!-- .sticky-outer -->
        </div>
        <!-- .mobile-header-inner -->
    </div>
    <!-- .mobile-header -->
    <!--Header-->
    <div class="header-inner header-3">
      
        <!--Sticky part-->
        <div class="sticky-outer">
            <div class="sticky-head">
                <!--Navbar-->
                <nav class="navbar nav-shadow bg-theme">
                    <div class="basic-container clearfix">
                        <div class="navbar-inner">
                            <!--Overlay Menu Switch-->
                            <ul class="nav navbar-items pull-left">
                                <li class="list-item">
                                    <a href="index.html" class="logo-general"><img src="images/logo-light.png" class="img-fluid" width="177" height="50" alt="Logo" /></a>
                                    <a href="index.html" class="logo-sticky"><img src="images/logo-light.png" class="img-fluid" width="160" height="45" alt="Logo" /></a>
                                </li>
                            </ul>
                            <!-- Menu -->
                            <ul class="nav navbar-items pull-center">
                                <!--List Item-->
                                <li class="list-item">
                                    <ul class="nav navbar-main menu-white">                                    
                                        {% for item in menuData.menu %}
                                            {% if item.subMenu %}
                                              <li class="dropdown  dropdown-sub"><a href="#">{{ item.title }}</a>
                                           
                                                    <ul class="dropdown-menu">
                                                        {% for itemSub in item.subMenu %}
                                                        <li><a href="{{ itemSub.url }}">{{ itemSub.title }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li> 
                                            {% else %} 
                                             <li class="dropdown"><a href="{{ item.url }}">{{ item.title }}</a>          
                                            {% endif %}
                                            
                                        {% endfor %}
                                        
                                        
                                        
                                    </ul>
                                </li>
                                <!--List Item End-->
                            </ul>
                            <!-- Menu -->
                            <ul class="nav navbar-items pull-right">                                            
                                <!--List Item-->
                                <li class="list-item">
                                    <div class="header-navbar-text-1"><a href="/contribuir" class="h-donate-btn">Contribuir</a></div>
                                </li>
                                <!--List Item End-->
                                <!--Overlay Menu Switch-->
                                <li class="list-item">
                                    <a href="#" class="push-overlay-menu-switch img-before"><i class="ti-menu typo-white"></i></a>
                                </li>
                            </ul>                                        
                        </div>
                    </div>                                
                </nav>
            </div>
            <!--sticky-head-->
        </div>
        <!--sticky-outer-->
        <!--Push Menu and Sticky Menu-->
        <!-- left-sticky, right-sticky, left-push, right-push, left-overlay, right-overlay -->
        <div class="v-sticky-main-wrapper">
            <div class="sticky-nav-wrapper right-overlay">
                <div class="sticky-nav-inner clearfix">
                    <a href="#" class="push-overlay-menu-switch close"></a>
                    <div class="widget text-widget margin-bottom-40">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-dark">Become A Donor</h3>
                        </div>
                        <img src="images/about-us/widget-img.jpg" class="img-fluid b-radius-15 mb-3" alt="widget-img" />
                        <!-- Text -->
                        <div class="widget-text mb-3 text-center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="button-section text-center">
                            <a class="btn btn-default" href="contact-us.html" title="Learn More">Get In Touch</a>
                        </div>                          
                    </div>
                    <div class="widget contact-widget margin-bottom-40">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-dark">Contact Info</h3>
                        </div>
                        <!-- Text -->
                        <div class="contact-widget-info mb-4">
                            <p class="contact-address"><span class="ti-map-alt"></span><span>684 West College St. Sun City, United States America, 064781.</span></p>
                            <p class="contact-phone">
                                <span class="ti-mobile"></span>
                                <span><a href="tel:(+55)654-545-1235">(+55) 654 - 545 - 1235</a></span>
                            </p>
                            <p class="contact-email">
                                <span class="ti-email"></span>
                                <span><a href="tel:info@zegen.com">info@zegen.com</a></span>
                            </p>											
                        </div>
                        <div class="social-icons">
                            <a href="#" class="social-fb"><span class="ti-facebook me-0"></span></a>
                            <a href="#" class="social-twitter"><span class="ti-twitter me-0"></span></a>
                            <a href="#" class="social-instagram"><span class="ti-instagram me-0"></span></a>
                            <a href="#" class="social-linkedin"><span class="ti-linkedin me-0"></span></a>										
                        </div>									
                    </div>
                    <div class="widget recent-posts">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title">Latest News</h3>
                        </div>
                        <nav>
                            <ul class="footer-list-posts">
                                <!-- List Items -->
                                <li class="pb-0">
                                    <div class="side-image">
                                    <a href="blog-single.html"><img width="80" height="80" src="images/blog/thumb/blog_thumb1-80x80.jpg" class="img-responsive wp-post-image" alt="Blog"></a>
                                    </div>
                                    <div class="side-item-text"><a href="blog-single.html">Giving Back – Uganda Training Centers</a>
                                    <span class="post-date d-block">Oct 21, 2019</span>
                                    </div>
                                </li>
                                <li class="pb-0">
                                    <div class="side-image">
                                    <a href="blog-single.html"><img width="80" height="80" src="images/blog/thumb/blog_thumb2-80x80.jpg" class="img-responsive wp-post-image" alt="Blog"></a>
                                    </div>
                                    <div class="side-item-text"><a href="blog-single.html">Spirit Of The Lord Is, From The New Life</a>
                                    <span class="post-date d-block">Oct 21, 2019</span>
                                    </div>
                                </li>
                                <li class="pb-0 mb-0">
                                    <div class="side-image">
                                    <a href="blog-single.html"><img width="80" height="80" src="images/blog/thumb/blog_thumb3-80x80.jpg" class="img-responsive wp-post-image" alt="Blog"></a>
                                    </div>
                                    <div class="side-item-text"><a href="blog-single.html">Help End the Water Crisis For Families</a>
                                    <span class="post-date d-block">Oct 20, 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>								
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header -->